@*@model ProjectRegistration.Models.Class

@{
    ViewData["Title"] = "Thông tin chi tiết của lớp học";
}
<h1>Thông tin chi tiết của lớp học</h1>

<input type="hidden" id="ClassIdHere" value=@Model.Id asp-for="Id" />
<div>
    <h4>@Model.Course.CourseName</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.CourseId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClassId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Semester)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Semester)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cyear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cyear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegEnd)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Sửa</a> |
    <a asp-action="Index">Quay lại</a>
</div>

<form method="post" asp-action="ViewProjectList" asp-route-id="@Model.Id">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addUserModal">
        + Thêm bằng MSSV
    </button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addFromExcelModal">
        + Thêm bằng file excel
    </button>
    <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#viewProjectList">
        Xem danh sách đồ án
    </button>
</form>


<form method="post" enctype="multipart/form-data" name="add-file-form" id="add-file-form" asp-asp-controller="Users" asp-action="AddUserFromFileExcel">
    <!-- Modal -->
    <input type="hidden" asp-for="Id" />
    <div class="modal fade" id="addFromExcelModal" tabindex="-1" style="z-index:1060">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Thêm tài khoản</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h2>Chọn file excel</h2>
                    <input id="fileSelect" name="fileSelect" type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" value=model.Id class="btn btn-primary" id="add-file-btn">Thêm</button>
                </div>
            </div>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                MSSV
            </th>
            <th>
                Tên
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ClassDetails)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.User.UserId)
                </td>
                <td>
                    @Html.DisplayFor(model => item.User.Fullname)
                </td>
                <td>
                    <button type="button" class="btn btn-link border-0" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-id="@item.User.Id">
                        Xoá
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>



<!-- Delete Modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" style="z-index:1060">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Xóa tài khoản</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc muốn xoá?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="delete-btn">Xóa</button>
            </div>
        </div>
    </div>
</div>
<form method="post" id="delete-form"></form>

<!-- Add Modal -->
<div class="modal fade" id="addUserModal" tabindex="-1" style="z-index:1060">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Thêm sinh viên vào lớp</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Nhập MSSV
            </div>
            <input type="text" id="userIdText" class="m-3"/>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="add-btn">Thêm</button>
            </div>
        </div>
    </div>
</div>
<form method="post" id="add-form"></form>

@section Scripts {
    <script>
        let id;
        let classId = document.getElementById("ClassIdHere");
        var modal = document.getElementById("confirmDeleteModal");
        const deleteBtn = document.getElementById('delete-btn');
        const deleteForm = document.getElementById('delete-form');
        modal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;
            id = button.getAttribute('data-id');
        });
        deleteBtn.onclick = () => {
            deleteForm.action = '@Url.Content("~/Classes/DeleteUser/")' + id + '-' + classId.value;
            deleteForm.submit();
        }
    </script>

    <script>
        let userId = document.getElementById("userIdText");
        const addBtn = document.getElementById('add-btn');
        const addForm = document.getElementById('add-form');

        addBtn.onclick = () => {
            console.log("here!");
            addForm.action = '@Url.Content("~/Classes/AddUser/")' + userId.value + '-' + classId.value;
            addForm.submit();
        }
    </script>
}*@

@model ProjectRegistration.Models.Class

@{
    ViewData["Title"] = "Thông tin chi tiết của lớp học";
    ViewBag.FindCount = 0;
}

<link href="~/vendors/icheck/skins/flat/green.css" rel="stylesheet" />
<link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/vendors/normalize-css/normalize.css" rel="stylesheet" />
<link href="~/vendors/pnotify/pnotify.buttons.css" rel="stylesheet" />
<link href="~/vendors/pnotify/pnotify.nonblock.css" rel="stylesheet" />
<link href="~/vendors/pnotify/pnotify.css" rel="stylesheet" />

<a class="pt-4" asp-action="Index"><i class="fa fa-chevron-left"></i> Quay trở lại</a>

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Thông tin chi tiết của lớp học</h3>
        </div>

    </div>
    <input type="hidden" id="ClassIdHere" value=@Model.Id asp-for="Id" />

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-8 col-sm-8">
            <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@Model.ClassId</h2>

                        <ul class="nav navbar-right panel_toolbox" style="min-width:fit-content">
                            @if (User.IsInRole("Manager"))
                            {
                                <a class="btn btn-danger btn-round" style="margin-right:20px" asp-action="Edit" asp-route-id="@Model.Id">
                                    <span class="glyphicon glyphicon-pencil" style="color:white" aria-hidden="true"></span>

                                </a>
                            }
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table table-hover">
                            <tbody>
                                <tr>

                                    <td class="d-flex justify-content-end">@Html.DisplayNameFor(model => model.Course): </td>
                                    <th class="" style="width:65%">@Html.DisplayFor(model => model.Course.CourseId)</th>
                                </tr>
                                <tr>

                                    <td class="d-flex justify-content-end">@Html.DisplayNameFor(model => model.ClassId): </td>
                                    <th class="">@Html.DisplayFor(model => model.ClassId)</th>
                                </tr>
                                <tr>

                                    <td class="d-flex justify-content-end">@Html.DisplayNameFor(model => model.Semester): </td>
                                    <th class="">@Html.DisplayFor(model => model.Semester)</th>
                                </tr>
                                <tr>

                                    <td class="d-flex justify-content-end">@Html.DisplayNameFor(model => model.Cyear): </td>
                                    <th class="">@Html.DisplayFor(model => model.Cyear)</th>
                                </tr>
                                <tr>

                                    <td class="d-flex justify-content-end">Cho phép đăng ký đồ án: </td>
                                    @if (Model.RegOpen == "Mở")
                                    {
                                        <th class="text-success">@Html.DisplayFor(model => model.RegOpen)</th>
                                    }
                                    else
                                    {
                                        <th class="text-danger">@Html.DisplayFor(model => model.RegOpen)</th>
                                    }
                                </tr>
                                <tr>

                                    <td class="d-flex justify-content-end">@Html.DisplayNameFor(model => model.RegStart): </td>
                                    <th class="">@Html.DisplayFor(model => model.RegStart)</th>
                                </tr>
                                <tr>

                                    <td class="d-flex justify-content-end">@Html.DisplayNameFor(model => model.RegEnd): </td>
                                    <th class="">@Html.DisplayFor(model => model.RegEnd)</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Danh sách lớp</h2>

                        <ul class="nav navbar-right panel_toolbox" style="min-width:fit-content">
                            @if(User.IsInRole("Manager") || User.IsInRole("Lecturer"))
                            {
                                <button class="btn btn-success btn-round" style="margin-right:20px" data-toggle="modal" data-target="#addUserModal">
                                    <i class="glyphicon glyphicon-plus"></i> Thêm sinh viên/giảng viên
                                </button>

                                <button class="btn btn-success btn-round" style="margin-right:20px" data-toggle="modal" data-target="#addFromExcelModal">
                                    <i class="fa fa-file-excel-o"></i> Thêm sinh viên bằng file excel
                                </button>
                            }
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table id="datatable-classmate" class="table table-striped jambo_table table-hover table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th style="text-align: center;">#</th>
                                    <th>MSSV/MSGV</th>
                                    <th>Họ và tên</th>
                                    <th>Vai trò</th>
                                    <th>Email</th>
                                    @if (User.IsInRole("Manager") || User.IsInRole("Manager"))
                                    {
                                        <th></th>
                                    }
                                    else
                                    {
                                        <th hidden></th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in Model.ClassDetails)
                                    {
                                        <tr>
                                            <td style="font-size:larger; vertical-align: middle; text-align: center">STT</td>
                                            <td style="font-size:larger; vertical-align: middle;">@Html.DisplayFor(modelItem => item.User.UserId)</td>
                                            <td style="font-size:larger; vertical-align: middle;">@Html.DisplayFor(modelItem => item.User.Fullname)</td>
                                            @if (item.User.UserTypeId == 10)
                                            {
                                                <td style="font-size:larger; vertical-align: middle;">Giảng viên</td>
                                            }
                                            else
                                            {
                                                <td style="font-size:larger; vertical-align: middle;">Sinh viên</td>
                                            }
                                            <td style="font-size:larger; vertical-align: middle;">@Html.DisplayFor(modelItem => item.User.Email)</td>

                                            @if (User.IsInRole("Manager") || User.IsInRole("Manager"))
                                            {
                                                <td style="white-space: nowrap; width:1%">
                                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal" data-id="@item.UserId">
                                                        <i class="fa fa-trash-o"></i>
                                                    </button>
                                                </td>
                                            }
                                            else
                                            {
                                                <td hidden></td>
                                            }
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">

            <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Lớp</h2>

                        <ul class="nav navbar-right panel_toolbox" style="min-width:fit-content">
                            <li>
                                <a asp-action="ViewProjectList" class="text-primary" asp-route-id="@Model.Id">Xem danh sách đồ án</a>
                            </li>
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row d-flex justify-content-center">
                            @if (Model.RegOpen == "Đóng")
                            {
                                <p class="font-weight-bolder text-danger"> Đã đóng đăng ký đồ án</p>
                            }
                            else
                            {
                                <p class="font-weight-bolder text-success"> Thời gian kết thúc đăng ký đồ án:</p>
                                <div id="countdown">
                                    <div class="cd-box">
                                        <p class="numbers days">00</p><br>
                                        <p class="strings timeRefDays">Ngày</p>
                                    </div>
                                    <div class="cd-box">
                                        <p class="numbers hours">00</p><br>
                                        <p class="strings timeRefHours">Giờ</p>
                                    </div>
                                    <div class="cd-box">
                                        <p class="numbers minutes">00</p><br>
                                        <p class="strings timeRefMinutes">Phút</p>
                                    </div>
                                    <div class="cd-box">
                                        <p class="numbers seconds">00</p><br>
                                        <p class="strings timeRefSeconds">Giây</p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Đồ án chưa duyệt</h2>
                        <table id="datatable-project-not-verified" class="table table-hover table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tên đồ án</th>
                                </tr>
                            </thead>
                            <tbody style="cursor:pointer">
                                @{
                                    foreach (var item in Model.ProjectClasses)
                                    {
                                        int i = 1;
                                        if (item.State == "Chưa chấp thuận")
                                        {
                                            <tr data-id="@item.Id">
                                                <td style="font-size:larger; vertical-align: middle; text-align: center; width:5%">@i</td>
                                                <td style="font-size:larger; vertical-align: middle;">@Html.DisplayFor(modelItem => item.Pname)</td>
                                            </tr>
                                            i++;
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal thêm bằng excel -->
<form method="post" enctype="multipart/form-data" name="add-file-form" id="add-file-form" asp-asp-controller="Users" asp-action="AddUserFromFileExcel">
    <input type="hidden" asp-for="Id" />
    <div class="modal fade" id="addFromExcelModal" tabindex="-1" style="z-index:1060">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title fs-5">Thêm tài khoản bằng file excel</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="mb-4">
                        <a href="~/files/File mẫu sinh viên 25.xlsx" class="pull-right mb-5" download><i class="fa fa-download"></i>Tải file mẫu</a>
                    </div>
                    <input id="fileSelect" required="required" name="fileSelect" type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" style="display:none" />
                    <label for="fileSelect" id="fileSelect_label" class="form-control"><i class="fa fa-file-excel-o"></i> &nbsp; Chọn file excel </label>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-success" id="add-file-btn">Thêm</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Delete Modal -->
<form method="post" id="delete-form"></form>
<div class="modal fade deleteModal" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog .modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Xác nhận xóa?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Bạn có chắc chắn muốn xóa người này khỏi lớp</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-danger" id="delete-btn">Xóa</button>
            </div>

        </div>
    </div>
</div>

<!-- Add Modal -->
<div class="modal fade" id="addUserModal" tabindex="-1" style="z-index:1060">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5">Thêm sinh viên vào lớp</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12 col-sm-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <label class="col-form-label col-md-4 col-sm-4 text-center font-weight-bolder text-dark"> Nhập MSSV/MSGV:</label>
                            <div class="col-md-8 col-sm-8">
                                <input type="text" id="userIdText" required="required" class="form-control border border-dark">
                            </div>

                            <div class="clearfix mt-5"></div>
                            <h2>Kết quả tìm kiếm</h2>

                            <br />
                            <table id="datatable-findclassmate" class="table table-hover table-bordered bulk_action" style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="text-align: center; width:5%">#</th>
                                        <th>Mã số sinh viên/Mã số giảng viên</th>
                                        <th class="w-50">Họ và tên</th>
                                    </tr>
                                </thead>
                                <tbody style="font-size:larger; vertical-align: middle;">
                                    <tr style="cursor:pointer">
                                        <td style="text-align: center;"></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="submit" class="btn btn-success" id="add-btn">Thêm</button>
            </div>
        </div>
    </div>
</div>
<form method="post" id="add-form"></form>

<!-- Verify Project Modal -->
<form method="post" id="verify-project-form"></form>
<div class="modal fade verifyProjectForm" id="verifyProjectModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog .modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Duyệt đồ án</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body w-75" style="margin-left:10%">
                <table class="table-borderless">
                    <thead>
                        <tr>
                            <th class="w-50"></th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody style="text-align:left">
                        <tr>
                            <td style="margin-left:30px">Tên đồ án:</td>
                            <th> <div id="pname"></div></th>
                        </tr>
                        <tr>
                            <td>Mô tả:</td>
                            <th><div id="pinfo"></div></th>
                        </tr>
                        <tr>
                            <td>Giảng viên hưỡng dẫn:</td>
                            <th><div id="pguide"></div></th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btn-cancel-verify-project" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-success" id="btn-verify-project">Duyệt</button>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/vendors/fastclick/lib/fastclick.js"></script>
    <script src="~/vendors/moment/min/moment.min.js"></script>
    <script src="~/vendors/datatables.net/js/jquery.datatables.min.js"></script>
    <script src="~/vendors/datatables.net-bs/js/datatables.bootstrap.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/datatables.buttons.min.js"></script>
    <script src="~/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/vendors/datatables.net-fixedheader/js/datatables.fixedheader.min.js"></script>
    <script src="~/vendors/datatables.net-keytable/js/datatables.keytable.min.js"></script>
    <script src="~/vendors/datatables.net-responsive/js/datatables.responsive.min.js"></script>
    <script src="~/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/vendors/datatables.net-scroller/js/datatables.scroller.min.js"></script>
    <script src="~/vendors/jszip/jszip.min.js"></script>
    <script src="~/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/vendors/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/vendors/pnotify/pnotify.js"></script>
    <script src="~/vendors/pnotify/pnotify.nonblock.js"></script>
    <script src="~/vendors/pnotify/pnotify.buttons.js"></script>
    @*    <script>
        function hasClass(elem, className) {
            return new RegExp(' ' + className + ' ').test(' ' + elem.className + ' ');
        }

        function addClass(elem, className) {
            if (!hasClass(elem, className)) {
                elem.className += ' ' + className;
            }
        }


        function removeClass(elem, className) {
            var newClass = ' ' + elem.className.replace(/[\t\r\n]/g, ' ') + ' ';
            if (hasClass(elem, className)) {
                while (newClass.indexOf(' ' + className + ' ') >= 0) {
                    newClass = newClass.replace(' ' + className + ' ', ' ');
                }
                elem.className = newClass.replace(/^\s+|\s+$/g, '');
            }
        }
    </script>*@

    <script>
        let id;
        let classId = document.getElementById("ClassIdHere");
        var modal = document.getElementById("deleteModal");
        const deleteBtn = document.getElementById('delete-btn');
        const deleteForm = document.getElementById('delete-form');
        $('#deleteModal').on('show.bs.modal', function (event) {
            const button = event.relatedTarget;
            id = button.getAttribute('data-id');
        });
        deleteBtn.onclick = () => {
            deleteForm.action = '@Url.Content("~/Classes/DeleteUser/")' + id;
            deleteForm.submit();
        }
    </script>

    <script>
        let userId = document.getElementById("userIdText");
        const addBtn = document.getElementById('add-btn');
        const addForm = document.getElementById('add-form');

        addBtn.onclick = () => {
            if (localStorage.getItem('UserFound') == 'NotFound') {
                new PNotify({
                    text: 'Yêu cầu nhập đúng mã số sinh viên/giảng viên.',
                    type: 'error',
                    styling: 'bootstrap3'
                });
            }
            else {
                addForm.action = '/Classes/AddUser/' + userId.value + '-' + classId.value;
                addForm.submit();
            }
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            var dtb = $('#datatable-classmate').DataTable({
                "language": {
                    "decimal": "",
                    "emptyTable": "Không có sinh viên trong lớp",
                    "info": "Hiển thị _START_ đến _END_ trong tổng số _TOTAL_ kết quả",
                    "infoEmpty": "Hiển thị 0 tới 0 trong 0 kết quả",
                    "infoFiltered": "(lọc từ _MAX_ tổng số kết quả)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "loadingRecords": "Đang tải...",
                    "processing": "",
                    "search": "Tìm kiếm:",
                    "zeroRecords": "Không tìm thấy kết quả nào",
                    "paginate": {
                        "first": "Đầu",
                        "last": "Cuối",
                        "next": "Tiếp",
                        "previous": "Trước"
                    },
                    "aria": {
                        "sortAscending": ": kích hoạt sắp xếp cột tăng dần",
                        "sortDescending": ": kích hoạt sắp xếp cột giảm dần"
                    }
                },
                "columnDefs": [
                    {
                        searchable: false,
                        orderable: false,
                        targets: 0,
                    },
                ],
                "order": [[3, 'asc']],
                "bLengthChange": false,
                "bInfo": false,
                "searching": false,
            });

            dtb.on('order.dt search.dt', function () {
                let i = 1;

                dtb.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                    this.data(i++);
                });
            }).draw();

            localStorage.setItem('UserFound', 'NotFound');
        });
    </script>
    <script type="text/javascript">
        function LoadClassmate(classid, userid) {
            let count = 0;
            var finduser = [];
            $.ajax({
                type: "GET",
                url: "/Classes/GetUsersNotInClass",
                dataType: "json",
                async: false,
                data: { classId: classid, userId: userid },
                success: function (data) {
                    localStorage.setItem('UserFindCount', data.length);
                    $.each(data, function (key, value) {
                        finduser.push([value.id, value.userId, value.name]);
                    })
                },
                failure: function (err) {
                }
            })

            var dtb = $('#datatable-findclassmate').DataTable({
                "destroy": true,
                "language": {
                    "decimal": "",
                    "emptyTable": "Không tìm thấy sinh viên nào",
                    "loadingRecords": "Đang tìm kiếm...",
                    "processing": "",
                    "paginate": {
                        "first": "Đầu",
                        "last": "Cuối",
                        "next": "Tiếp",
                        "previous": "Trước"
                    },
                    "aria": {
                        "sortAscending": ": kích hoạt sắp xếp cột tăng dần",
                        "sortDescending": ": kích hoạt sắp xếp cột giảm dần"
                    }
                },
                "columnDefs": [
                    {
                        searchable: false,
                        orderable: false,
                        targets: 0,
                    },
                ],
                "order": [[1, 'asc']],
                "bLengthChange": false,
                "bInfo": false,
                "searching": false,
                "paging": false,
                "data": finduser,
                "columnDefs": [
                    { className: "first_row_center", "targets": [0] },
                    { className: "cursor_pointer", "targets": '_all' },
                ],
            });

            dtb.on('order.dt search.dt', function () {
                let i = 1;

                dtb.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                    this.data(i++);
                });
            }).draw();

            dtb.on('click', 'tr', function (e) {
                $('#userIdText').val(dtb.row(this).data()[1]);
                LoadClassmate("@Model.Id", dtb.row(this).data()[1]);
            });

            if (finduser.length == 1) {
                localStorage.setItem('UserFound', finduser[0][1])
            }
            else {
                localStorage.setItem('UserFound', 'NotFound');
            }
        }

        $("#userIdText").on("input", function () {
            LoadClassmate('@Model.Id', this.value);
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            var dtb = $('#datatable-project').DataTable({
                "bLengthChange": false,
                "bInfo": false,
                "searching": false,
                "paging": false,
            });

            dtb.on('order.dt search.dt', function () {
                let i = 1;

                dtb.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                    this.data(i++);
                });
            }).draw();
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            var dtb = $('#datatable-project-not-verified').DataTable({
                "language": {
                    "emptyTable": "Không có đồ án nào cần duyệt",
                },
                "bLengthChange": false,
                "bInfo": false,
                "searching": false,
                "paging": false,
            });

            let id;

            dtb.on('click', 'tr', function (e) {
                id = this.getAttribute('data-id');
                if (id != null) {
                    $.ajax({
                        type: 'get',
                        url: "/Classes/GetProjectDetail",
                        async: false,
                        data: { id: id },
                        success: function (data) {
                            document.getElementById("pname").innerHTML = data.pname;
                            document.getElementById("pinfo").innerHTML = data.info;
                            document.getElementById("pguide").innerHTML = data.guidingLecturerName;
                        }

                    });
                    $('#verifyProjectModal').modal('toggle');
                }
            });

            dtb.on('order.dt search.dt', function () {
                let i = 1;

                dtb.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                    this.data(i++);
                });
            }).draw();

            var modal = document.getElementById("verifyProjectModal");
            const confirm = document.getElementById('btn-verify-project');
            const cancel = document.getElementById('btn-cancel-verify-project');
            const verifyProjectForm = document.getElementById('verify-project-form');

            confirm.onclick = () => {
                verifyProjectForm.action = '@Url.Content("~/Classes/VerifyProject/")' + id;
                verifyProjectForm.submit();
            }

            $(function () {
                var msg = '@TempData["message"]';
                if (msg == 'ProjectVerified') {
                    new PNotify({
                        text: 'Duyệt lớp thành công.',
                        type: 'success',
                        styling: 'bootstrap3',
                    });
                }
                if (msg == 'CouldNotVerifyProject') {
                    new PNotify({
                        text: 'Duyệt lớp thất bại.',
                        type: 'error',
                        styling: 'bootstrap3',
                    });
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            //
            (function (e) {
                e.fn.countdown = function (t, n) {
                    function i() {
                        eventDate = Date.parse(r.date) / 1e3;
                        currentDate = Math.floor(e.now() / 1e3);
                        //
                        if (eventDate <= currentDate) {
                            n.call(this);
                            clearInterval(interval)
                        }
                        //
                        seconds = eventDate - currentDate;
                        days = Math.floor(seconds / 86400);
                        seconds -= days * 60 * 60 * 24;
                        hours = Math.floor(seconds / 3600);
                        seconds -= hours * 60 * 60;
                        minutes = Math.floor(seconds / 60);
                        seconds -= minutes * 60;
                        //
                        days == 1 ? thisEl.find(".timeRefDays").text("Days") : thisEl.find(".timeRefDays").text("Ngày");
                        hours == 1 ? thisEl.find(".timeRefHours").text("Hours") : thisEl.find(".timeRefHours").text("Giờ");
                        minutes == 1 ? thisEl.find(".timeRefMinutes").text("Minutes") : thisEl.find(".timeRefMinutes").text("Phút");
                        seconds == 1 ? thisEl.find(".timeRefSeconds").text("Seconds") : thisEl.find(".timeRefSeconds").text("Giây");
                        //
                        if (r["format"] == "on") {
                            days = String(days).length >= 2 ? days : "0" + days;
                            hours = String(hours).length >= 2 ? hours : "0" + hours;
                            minutes = String(minutes).length >= 2 ? minutes : "0" + minutes;
                            seconds = String(seconds).length >= 2 ? seconds : "0" + seconds
                        }
                        //
                        if (!isNaN(eventDate)) {
                            thisEl.find(".days").text(days);
                            thisEl.find(".hours").text(hours);
                            thisEl.find(".minutes").text(minutes);
                            thisEl.find(".seconds").text(seconds)
                        }
                        else {
                            errorMessage = "Invalid date. Example: 27 March 2015 17:00:00";
                            alert(errorMessage);
                            clearInterval(interval)
                        }
                    }
                    //
                    var thisEl = e(this);
                    var r = {
                        date: null,
                        format: null
                    };
                    //
                    t && e.extend(r, t);
                    i();
                    interval = setInterval(i, 1e3)
                }
            })(jQuery);
            //
            $(document).ready(function () {
                function e() {
                    var e = new Date;
                    e.setDate(e.getDate() + 60);
                    dd = e.getDate();
                    mm = e.getMonth() + 1;
                    y = e.getFullYear();
                    futureFormattedDate = mm + "/" + dd + "/" + y;
                    return futureFormattedDate
                }
                //
                $("#countdown").countdown({
                    date: "@Model.RegEnd", // change date/time here - do not change the format!
                    format: "on"
                });
            });
        });
    </script>
}
<style>
    .first_row_center {
        text-align: center;
        width: 5%;
    }

    .cursor_pointer {
        cursor: pointer;
    }

    div#countdown {
        color: #353535;
    }

        div#countdown p {
            width: 100%;
            display: inline-block;
            text-align: center;
        }

    p.numbers {
        font-size: xx-large;
        width: 100%;
        height: 85%;
        background: #FFFFFF;
    }

    p.strings {
        width: 100%;
        height: auto;
        background: #FF5722;
        color: #FFFFFF;
    }

    div.cd-box {
        width: 60px;
        height: 45px;
        background: #FFFFFF;
        float: left;
        padding-bottom: 50px;
        margin: 10px 15px 0 0;
    }
</style>