@model ProjectRegistration.Models.Project

@{
    ViewData["Title"] = "Thông tin chi tiết của đồ án";
}
<link href="~/vendors/icheck/skins/flat/green.css" rel="stylesheet" />
<link href="~/vendors/bootstrap-wysiwyg/css/style.css" rel="stylesheet" />
<link href="~/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet" />
<link href="~/vendors/select2/css/select2.min.css" rel="stylesheet" />
<link href="~/vendors/switchery/switchery.min.css" rel="stylesheet" />
<link href="~/vendors/starrr/starrr.css" rel="stylesheet" />

<a class="pt-4" asp-action="ViewProjectList" asp-route-id="@ViewData["cId"]"><i class="fa fa-chevron-left"></i> Quay trở lại</a>

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>@Model.Pname</h3>
        </div>

    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Chi tiết của đồ án</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        @if (User.IsInRole("Manager") || User.IsInRole("Lecturer"))
                        {
                            <li>
                                <button class="btn btn-danger btn-round" style="margin-right:20px" id="RemoveMemberBtn" data-toggle="modal" data-target="#removeUserModal">
                                    Xóa sinh viên khỏi đồ án
                                    <span class="glyphicon glyphicon-pencil" style="color:white" aria-hidden="true"></span>
                                </button>
                            </li>
                            <li>
                                <div>
                                    <button class="btn btn-round btn-success" id="add-grade-btn" data-toggle="modal" data-target="#addGradeModal">
                                        Chấm điểm
                                        <span class="fa fa-check-square" style="color:white" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </li>
                        }
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <div class="col-md-9 col-sm-9  ">

                        <ul class="stats-overview">
                            @{
                                int i = 1;
                                foreach (var item in Model.ProjectMembers.Where(x => x.Deleted == false))
                                {
                                    <li>
                                        <span class="name"> Thành viên @i </span>
                                        <span class="value text-success"> @item.Student.Fullname </span>
                                    </li>
                                    i++;
                                }
                            }
                            @try
                            {
                                @if (@Model.GuidingLecturer != null)
                                {
                                    <li class="hidden-phone">
                                        <span class="name"> Giảng viên hướng dẫn </span>
                                        <span class="value text-success"> @Model.GuidingLecturer.Fullname </span>
                                    </li>
                                }
                            }
                            catch (Exception)
                            {

                            }
                        </ul>
                        <br />

                        <div class="w-75">
                            <h5>Bài nộp</h5>
                            <div class="">
                                <div style="min-height: 100px" class="border">
                                    <ul class="list-unstyled project_files">
                                        @{
                                            foreach (var product in Model.Products)
                                            {
                                                foreach (var item in product.ProductDetails)
                                                {
                                                    if (item.Type == "StudentFile" && item.Deleted == false)
                                                    {
                                                        <li style="font-size: large; cursor: pointer; width:100%">
                                                            <a href="/documents/@Model.Id/@item.Info" download><i class="fa fa-file-archive-o"></i>@item.Info</a>
                                                            <a type="button" class="text-danger " data-toggle="modal" data-target="#deleteStuDocModal" data-id="@item.Id">
                                                                <i class="fa fa-trash-o"></i>
                                                            </a>
                                                        </li>
                                                    }
                                                }
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>

                            <div class="d-flex mt-2 justify-content-center w-100">
                                <button class="btn btn-sm btn-primary font-weight-bold" style="color:white" data-toggle="modal" data-target="#uploadStudentProductModal">
                                    <i class="fa fa-file-archive-o"></i> Thêm bài nộp
                                </button>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center w-100" style="min-height: 100px">
                        </div>
                        <div>                           
                            <h4>Nhận xét</h4>
                            @{
                                foreach (var product in Model.Products)
                                {
                                    foreach (var item in product.ProductDetails)
                                    {
                                        if (item.Type == "Comment" && item.Deleted == false)
                                        {
                                            <ul class="messages">
                                                <li>
                                                    @if (Model.GuidingLecturer != null && !string.IsNullOrEmpty(Model.GuidingLecturer.ImagePath))
                                                    {
                                                        <img src="@Model.GuidingLecturer.ImagePath" class="avatar" alt="Avatar">
                                                    }                       
                                                    <div class="message_wrapper">
                                                        @if(@Model.GuidingLecturer != null)
                                                        {
                                                            <h4 class="heading">@Model.GuidingLecturer.Fullname - @item.CreatedDateTime</h4>
                                                        }
                                                        else
                                                        {
                                                            <h4 class="heading"></h4>
                                                        }                                      
                                                        <blockquote class="message">@item.Info</blockquote>
                                                        <br />                                                        
                                                    </div>
                                                </li>
                                            </ul>
                                        }
                                    }
                                }
                            }
                            <!-- start of user messages -->
                            @*<ul class="messages">
                                <li>
                                    <img src="../../files/default-avatar.jpg" class="avatar" alt="Avatar">
                                    <div class="message_wrapper">
                                        <h4 class="heading">Cấn Đức Quang</h4>
                                        <blockquote class="message">Các em nên tìm hiểu các ứng dụng bán sách online và khảo sát tính năng liên quan</blockquote>
                                        <br />
                                        <p class="url">
                                            <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                                            <a href="#"><i class="fa fa-paperclip"></i> UngDungBanSach.doc </a>
                                        </p>
                                    </div>
                                </li>
                            </ul>*@

                            <div class="x_content">
                                <form method="post" id="add-comment-form" asp-action="AddComment" asp-route-id="@Model.Id">
                                    <textarea name="descr" id="descr" class="w-100" style="min-height:100px"></textarea>
                                    <div class="d-flex justify-content-center w-100">
                                        <button type="submit" class="mt-2 btn btn-primary"> Đăng nhận xét</button>
                                    </div>
                                </form>
                                <!-- end of user messages -->
                            </div>
                        </div>


                    </div>

                    <!-- start project-detail sidebar -->
                    <div class="col-md-3 col-sm-3  ">

                        <section class="panel">

                            <div class="x_title">
                                <h2>@Html.DisplayNameFor(model => model.Info)</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body">
                                @if (@Model.PGrade != null)
                                {
                                    if (Model.PGrade < 5)
                                    {
                                        <h3 class="red"><i class="glyphicon glyphicon-remove"></i> Điểm: @Model.PGrade</h3>
                                    }
                                    else
                                    {
                                        <h3 class="green"><i class="glyphicon glyphicon-ok"></i> Điểm: @Model.PGrade</h3>
                                    }
                                }

                                <p>@Model.Info</p>
                                <br />

                                <div class="project_detail">

                                    <p class="title">@Html.DisplayNameFor(model => model.ClassId)</p>
                                    <p>@Model.Class.ClassId</p>
                                    <p class="title">@Html.DisplayNameFor(model => model.Class.Semester)</p>
                                    <p>@Model.Class.Semester</p>
                                    <p class="title">@Html.DisplayNameFor(model => model.Class.Cyear)</p>
                                    <p>@Model.Class.Cyear</p>
                                </div>

                                <br />
                                <h5>Tài liệu tham khảo</h5>
                                <ul class="list-unstyled project_files">
                                    @{
                                        foreach (var product in Model.Products.Where(x => x.Deleted == false))
                                        {
                                            foreach (var item in product.ProductDetails.Where(x => x.Deleted == false))
                                            {
                                                if (item.Type == "LecturerFile" && item.Deleted == false)
                                                {
                                                    <li>
                                                        <a href="/documents/@Model.Id/@item.Info" download><i class="fa fa-file-archive-o"></i>@item.Info</a>
                                                    </li>
                                                }
                                            }
                                        }
                                    }
                                </ul>
                                <br />
                                @if (User.IsInRole("Manager") || User.IsInRole("Lecturer"))
                                {
                                    <button class="btn btn-sm btn-primary font-weight-bold" style="color:white" data-toggle="modal" data-target="#uploadDocumentModal">
                                        <i id="btn-add-comment" class="fa fa-file-archive-o"></i> Thêm tài liệu
                                    </button>
                                }
                            </div>

                        </section>

                    </div>
                    <!-- end project-detail sidebar -->

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add grade modal -->
<form method="post" enctype="multipart/form-data" id="add-grade-form" asp-action="AddProjectGrade">
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <div class="modal fade" id="addGradeModal" tabindex="-1" style="z-index:1060">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title fs-5">Thêm điểm</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input class="form-control" id="addGrade" required="required" name="addGrade" type="number" min="0" max="10" step="any" asp-for="PGrade" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-success" id="add-grade-btn" asp-action="AddProjectGrade" value="#addGrade" asp-route-id="@Model.Id">Thêm</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Add document modal -->
<form method="post" enctype="multipart/form-data" id="add-lec-file-form" asp-action="UploadDocument">
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <div class="modal fade" id="uploadDocumentModal" tabindex="-1" style="z-index:1060">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title fs-5">Thêm tài liệu</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="fileSelect" required="required" name="fileSelect" type="file" style="display:none" />
                    <label for="fileSelect" id="fileSelect_label" class="form-control"><i class="fa fa-file-archive-o"></i> &nbsp; Chọn file </label>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-success" id="add-file-btn">Thêm</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Add student product modal -->
<form method="post" enctype="multipart/form-data" id="add-stu-file-form" asp-action="UploadStudentProduct">
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <div class="modal fade" id="uploadStudentProductModal" tabindex="-1" style="z-index:1060">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title fs-5">Thêm bài nộp</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="fileSelect2" required="required" name="fileSelect2" type="file" style="display:none" />
                    <label for="fileSelect2" id="fileSelect_label" class="form-control"><i class="fa fa-file-archive-o"></i> &nbsp; Chọn file </label>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-success" id="add-file-btn">Thêm</button>
                </div>
            </div>
        </div>
    </div>
</form>


<div class="modal fade" id="removeUserModal" tabindex="-1" style="z-index:1060">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5">@Model.Pname</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12 col-sm-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <h2>Sinh viên thực hiện đồ án</h2>

                            <br />
                            <table id="datatable-findclassmate" class="table table-hover jambo_table table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="text-align: center; width:5%">#</th>
                                        <th>Mã số sinh viên</th>
                                        <th class="w-50">Họ và tên</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody style="font-size:larger; vertical-align: middle;">
                                    @{
                                        var members = Model.ProjectMembers.Where(x => x.Deleted == false).ToList();
                                        if (members != null)
                                        {
                                            for (int j = 0; j < members.Count(); j++)
                                            {
                                                <form method="post" enctype="multipart/form-data" id="deleteMemberFromProjectForm @j" asp-action="DeleteMemberFromProject">
                                                    <input name="projectId" type="hidden" asp-for="Id" value="@Model.Id" />
                                                    <input name="classId" type="hidden" type="hidden" asp-for="ClassId" value="@Model.ClassId" />
                                                <tr>
                                                    <td style="text-align: center;"></td>
                                                    <td>@members[j].Student.UserId</td>
                                                    <td>@members[j].Student.Fullname</td>
                                                    <td>
                                                        <input name="deleteMemberId @j" type="hidden" value="@members[j].Student.Id" />
                                                        <input name=@j type="hidden" value="@j" />
                                                        <button type="submit" class="btn btn-danger btn-sm" asp-action="DeleteMemberFromProject" asp-route-id-="@Model.Id">
                                                            <i class="fa fa-trash-o"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                </form>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Student Doc Confirmation Modal -->
<div class="modal fade" id="deleteStuDocModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Xác nhận xóa</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Bạn có chắc chắn muốn xóa bài nộp?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-danger" id="delete-stu-doc-btn">Xóa</button>
            </div>
        </div>
    </div>
</div>
<form method="post" action="DeleteStudentDocument" id="delete-stu-doc-form">
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/vendors/fastclick/lib/fastclick.js"></script>
    <script src="~/vendors/echarts/dist/echarts.min.js"></script>
    <script src="~/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="~/vendors/switchery/switchery.min.js"></script>\
    <script src="~/vendors/select2/js/select2.full.min.js"></script>
    <script src="~/vendors/starrr/starrr.js"></script>
    <script src="~/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="~/vendors/google-code-prettify/src/prettify.js"></script>

    <script>
        let id;
        var modal = document.getElementById("deleteStuDocModal");
        const deleteBtn = document.getElementById('delete-stu-doc-btn');
        const deleteForm = document.getElementById('delete-stu-doc-form');
        $(document).on('show.bs.modal', modal, function (event) {
            const button = event.relatedTarget;
            id = button.getAttribute('data-id');
        })

        deleteBtn.onclick = () => {
            deleteForm.action = '@Url.Content("~/Classes/DeleteStudentDocument/")' + id;
            deleteForm.submit();
        }
    </script>

    <script>
        $(function () {
            var msg = '@TempData["message"]';
            if (msg == 'DocumentAdded') {
                new PNotify({
                    text: 'Thêm tài liệu thành công.',
                    type: 'success',
                    styling: 'bootstrap3',
                });
            }
            if (msg == 'DocumentNotAdded') {
                new PNotify({
                    text: 'Thêm tài liệu thất bại.',
                    type: 'success',
                    styling: 'bootstrap3',
                });
            }
            if (msg == 'NoFileSelected') {
                new PNotify({
                    text: 'Thêm tài liệu thất bại. Không có file nào được chọn.',
                    type: 'error',
                    styling: 'bootstrap3',
                });
            }
            if (msg == 'StudentProductAdded') {
                new PNotify({
                    text: 'Nộp bài thành công.',
                    type: 'success',
                    styling: 'bootstrap3',
                });
            }
            if (msg == 'StudentProductNotAdded') {
                new PNotify({
                    text: 'Nộp bài thất bại.',
                    type: 'error',
                    styling: 'bootstrap3',
                });
            }
            if (msg == 'StudentDocumentDeleted') {
                new PNotify({
                    text: 'Xóa bài nộp thành công.',
                    type: 'success',
                    styling: 'bootstrap3',
                });
            }
            if (msg == 'NoProductToDelete') {
                new PNotify({
                    text: 'Xóa bài nộp thất bại. Không có bài nộp để xóa',
                    type: 'error',
                    styling: 'bootstrap3',
                });
            }
            if (msg == 'CommentAdded') {
                new PNotify({
                    text: 'Đăng nhận xét thành công',
                    type: 'success',
                    styling: 'bootstrap3',
                });
            }
            if (msg == 'CommentNotAdded') {
                new PNotify({
                    text: 'Đăng nhận xét thất bại',
                    type: 'error',
                    styling: 'bootstrap3',
                });
            }
        });
    </script>

    <script>
        //let memberid;
        //var modal = document.getElementById("confirmDeleteModal");
        //const deleteBtn = document.getElementById('delete-btn');
        //const deleteForm = document.getElementById('delete-form');
        //modal.addEventListener('show.bs.modal', function (event) {
        //    const button = event.relatedTarget;
        //    console.log(button);
        //    memberid = button.getAttribute('data-id');

        //});

        //console.log("MemberID: " + memberid);
        //deleteBtn.onclick = () => {
        //    console.log("MemberID: " + memberid);
        //    deleteForm.action = '/Classes/DeleteMemberFromProject/' + memberid;
        //    deleteForm.submit();
        //}
    </script>
    @*<script>
        $('#deleteMember').click(function (e) {
            var pId = "@Model.Id";
            var cId = "@Model.ClassId";
            var form = document.getElementById('removeUserForm');
            var userId = document.getElementById('removeUserId');
            userId.value = e.target.getAttribute('data-id');
            form.action = '@Url.Content("~/Classes/DeleteMemberFromProject/")' + pId + '-' + cId;
            form.submit();
        });
    </script>*@
}