@*@model ProjectRegistration.Models.Project

@{
    ViewData["Title"] = "Thông tin chi tiết của đồ án";
}
<h1>Thông tin chi tiết của đồ án</h1>

<div>
    <h4>@Model.Pname</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Info)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Info)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pyear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pyear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Semester)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Semester)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Class.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClassId2Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassId2Navigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GradingLecturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GradingLecturer.Fullname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuidingLecturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuidingLecturer.Fullname)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditProject" asp-route-id="@Model?.Id">Sửa</a> |
    <a asp-action="ViewProjectList" asp-route-id="@Model?.ClassId">Quay lại danh sách đồ án</a>
</div>

<div>
    <a asp-action="AddMemberToProject" asp-route-id="@Model?.Id">Thêm sinh viên vào đồ án</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                MSSV
            </th>
            <th>
                Tên
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProjectMembers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Student.UserId)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Student.Fullname)
                </td>
                <td>
                    <button type="button" class="btn btn-link border-0" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-id="@item.Id">
                        Xoá
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" style="z-index:1060">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Xóa sinh viên khỏi đồ án</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc muốn xoá?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="delete-btn">Xóa</button>
            </div>
        </div>
    </div>
</div>
<form method="post" id="delete-form"></form>

@section Scripts {
    <script>
        $(function () {
            var msg = '@TempData["message"]';
            if (msg == 'RegNotOpened') {
                alert("Thêm thành viên vào đồ án thất bại%0D%0AChưa đến thời gian đăng ký");
            }
            if (msg == 'RegClosed') {
                alert("Thêm thành viên vào đồ án thất bại%0D%0AĐã hết thời gian đăng ký");
            }
            if (msg == 'MemberAddedToProject') {
                alert("Thêm thành viên vào đồ án thành công");
            }
            if (msg == 'MemberNotAddedToProject') {
                alert("Thêm thành viên vào đồ án thất bại");
            }
            if (msg == 'NoMemberToDeleteFromProject') {
                alert("Xóa thành viên khỏi đồ án thất bại%0D%0AKhông tìm thấy thành viên trong đồ án");
            }
            if (msg == 'MemberDeletedFromProject') {
                alert("Xóa thành viên khỏi đồ án thành công");
            }
        });
    </script>

    <script>
        let memberid;
        var modal = document.getElementById("confirmDeleteModal");
        const deleteBtn = document.getElementById('delete-btn');
        const deleteForm = document.getElementById('delete-form');
        modal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;
            console.log(button);
            memberid = button.getAttribute('data-id');

        });

        console.log("MemberID: " + memberid);
        deleteBtn.onclick = () => {
            console.log("MemberID: " + memberid);
            deleteForm.action = '/Classes/DeleteMemberFromProject/' + memberid;
            deleteForm.submit();
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="/js/data-table.js"></script>
}*@

@model ProjectRegistration.Models.Project

@{
    ViewData["Title"] = "Thông tin chi tiết của đồ án";
}
<link href="~/vendors/icheck/skins/flat/green.css" rel="stylesheet" />
<link href="~/vendors/bootstrap-wysiwyg/css/style.css" rel="stylesheet" />
<link href="~/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet" />
<link href="~/vendors/select2/css/select2.min.css" rel="stylesheet" />
<link href="~/vendors/switchery/switchery.min.css" rel="stylesheet" />
<link href="~/vendors/starrr/starrr.css" rel="stylesheet" />

<a class="pt-4" asp-action="ViewProjectList" asp-route-id="@ViewData["cId"]"><i class="fa fa-chevron-left"></i> Quay trở lại</a>

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>@Model.Pname</h3>
        </div>

    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Chi tiết của đồ án</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>

                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <div class="col-md-9 col-sm-9  ">

                        <ul class="stats-overview">
                            @{
                                int i = 1;
                                foreach (var item in Model.ProjectMembers)
                                {
                                    <li>
                                        <span class="name"> Thành viên @i </span>
                                        <span class="value text-success"> @item.Student.Fullname </span>
                                    </li>
                                    i++;
                                }
                            }
                            <li class="hidden-phone">
                                <span class="name"> Giảng viên hướng dẫn </span>
                                <span class="value text-success"> @Model.GuidingLecturer.Fullname </span>
                            </li>
                        </ul>
                        <br />

                        <button class="btn btn-sm btn-primary font-weight-bold" style="color:white" data-toggle="modal" data-target="#uploadStudentProductModal">
                            <i class="fa fa-file-archive-o"></i> Thêm bài nộp
                        </button>
                        <div class="d-flex justify-content-center w-100" style="min-height: 100px">
                            
                        </div>
                        <div>

                            <h4>Nhận xét</h4>

                            <!-- end of user messages -->
                            <ul class="messages">
                                <li>
                                    <img src="" class="avatar" alt="Avatar">=
                                    <div class="message_wrapper">
                                        <h4 class="heading">Desmond Davison</h4>
                                        <blockquote class="message">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth.</blockquote>
                                        <br />
                                        <p class="url">
                                            <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                                            <a href="#"><i class="fa fa-paperclip"></i> User Acceptance Test.doc </a>
                                        </p>
                                    </div>
                                </li>
                            </ul>

                            <div class="x_content">
                                <div id="alerts"></div>
                                <div class="btn-toolbar editor" data-role="editor-toolbar" data-target="#editor-one">
                                    <div class="btn-group">
                                        <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font"><i class="fa fa-font"></i><b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                        </ul>
                                    </div>

                                    <div class="btn-group">
                                        <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a data-edit="fontSize 5">
                                                    <p style="font-size:17px">Huge</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a data-edit="fontSize 3">
                                                    <p style="font-size:14px">Normal</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a data-edit="fontSize 1">
                                                    <p style="font-size:11px">Small</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="btn-group">
                                        <a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
                                        <a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
                                        <a class="btn" data-edit="strikethrough" title="Strikethrough"><i class="fa fa-strikethrough"></i></a>
                                        <a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
                                    </div>

                                    <div class="btn-group">
                                        <a class="btn" data-edit="insertunorderedlist" title="Bullet list"><i class="fa fa-list-ul"></i></a>
                                        <a class="btn" data-edit="insertorderedlist" title="Number list"><i class="fa fa-list-ol"></i></a>
                                        <a class="btn" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="fa fa-dedent"></i></a>
                                        <a class="btn" data-edit="indent" title="Indent (Tab)"><i class="fa fa-indent"></i></a>
                                    </div>

                                    <div class="btn-group">
                                        <a class="btn" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
                                        <a class="btn" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
                                        <a class="btn" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
                                        <a class="btn" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
                                    </div>

                                    <div class="btn-group">
                                        <a class="btn dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i class="fa fa-link"></i></a>
                                        <div class="dropdown-menu input-append">
                                            <input class="span2" placeholder="URL" type="text" data-edit="createLink" />
                                            <button class="btn" type="button">Add</button>
                                        </div>
                                        <a class="btn" data-edit="unlink" title="Remove Hyperlink"><i class="fa fa-cut"></i></a>
                                    </div>

                                    <div class="btn-group">
                                        <a class="btn" title="Insert picture (or just drag & drop)" id="pictureBtn"><i class="fa fa-picture-o"></i></a>
                                        <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />
                                    </div>

                                    <div class="btn-group">
                                        <a class="btn" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
                                        <a class="btn" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
                                    </div>
                                </div>

                                <div id="editor-one" class="editor-wrapper" style="min-height:100px"></div>

                                <textarea name="descr" id="descr" style="display:none;"></textarea>
                            </div>                            <!-- end of user messages -->


                        </div>
                        <form method="post" id="add-comment-form" asp-asp-controller="Users" asp-action="AddComment" asp-route-id="@Model.Id">
                            <div class="d-flex justify-content-center w-100">
                                <button class="btn btn-primary"> Đăng nhận xét</button>
                            </div>
                        </form>

                    </div>

                    <!-- start project-detail sidebar -->
                    <div class="col-md-3 col-sm-3  ">

                        <section class="panel">

                            <div class="x_title">
                                <h2>@Html.DisplayNameFor(model => model.Info)</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body">

                                <p>@Model.Info</p>
                                <br />

                                <div class="project_detail">

                                    <p class="title">@Html.DisplayNameFor(model => model.ClassId)</p>
                                    <p>@Model.Class.ClassId</p>
                                    <p class="title">@Html.DisplayNameFor(model => model.Class.Semester)</p>
                                    <p>@Model.Class.Semester</p>
                                    <p class="title">@Html.DisplayNameFor(model => model.Class.Cyear)</p>
                                    <p>@Model.Class.Cyear</p>
                                </div>

                                <br />
                                <h5>Project files</h5>
                                <ul class="list-unstyled project_files">
                                    @{
                                        foreach (var product in Model.Products)
                                        {
                                            foreach (var item in product.ProductDetails)
                                            {
                                                if (item.Type == "LecturerFile")
                                                {
                                                    <li>
                                                        <a href="/documents/@Model.Id/@item.Info" download><i class="fa fa-file-archive-o"></i>@item.Info</a>
                                                    </li>
                                                }
                                            }
                                        }
                                    }
                                    @*<li>
                                        <a href=""><i class="fa fa-file-word-o"></i> Functional-requirements.docx</a>
                                    </li>
                                    <li>
                                        <a href=""><i class="fa fa-file-pdf-o"></i> UAT.pdf</a>
                                    </li>
                                    <li>
                                        <a href=""><i class="fa fa-mail-forward"></i> Email-from-flatbal.mln</a>
                                    </li>
                                    <li>
                                        <a href=""><i class="fa fa-picture-o"></i> Logo.png</a>
                                    </li>
                                    <li>
                                        <a href=""><i class="fa fa-file-word-o"></i> Contract-10_12_2014.docx</a>
                                    </li>*@
                                </ul>
                                <br />
                               
                                @*<div class="text-center mtop20">
                                    <input type="file" id="project-file" style="display:none;" />
                                    <a onclick="$('#project-file').trigger('click');" class="btn btn-sm btn-primary font-weight-bold" style="color:white">Thêm tài liệu</a>
                                </div>*@
                                <button class="btn btn-sm btn-primary font-weight-bold" style="color:white" data-toggle="modal" data-target="#uploadDocumentModal">
                                    <i id="btn-add-comment" class="fa fa-file-archive-o"></i> Thêm tài liệu
                                </button>
                                
                            </div>

                        </section>

                    </div>
                    <!-- end project-detail sidebar -->

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add document modal -->
<form method="post" enctype="multipart/form-data" id="add-lec-file-form" asp-asp-controller="Users" asp-action="UploadDocument">
    <input type="hidden" asp-for="Id" value="@Model.Id"/>
    <div class="modal fade" id="uploadDocumentModal" tabindex="-1" style="z-index:1060">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title fs-5">Thêm tài liệu</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="fileSelect" required="required" name="fileSelect" type="file" style="display:none" />
                    <label for="fileSelect" id="fileSelect_label" class="form-control"><i class="fa fa-file-archive-o"></i> &nbsp; Chọn file </label>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-success" id="add-file-btn">Thêm</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Add student product modal -->
<form method="post" enctype="multipart/form-data" id="add-stu-file-form" asp-asp-controller="Users" asp-action="UploadStudentProduct">
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <div class="modal fade" id="uploadStudentProductModal" tabindex="-1" style="z-index:1060">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title fs-5">Thêm bài nộp</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="fileSelect" required="required" name="fileSelect" type="file" style="display:none" />
                    <label for="fileSelect" id="fileSelect_label" class="form-control"><i class="fa fa-file-archive-o"></i> &nbsp; Chọn file </label>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-success" id="add-file-btn">Thêm</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/vendors/fastclick/lib/fastclick.js"></script>
    <script src="~/vendors/echarts/dist/echarts.min.js"></script>
    <script src="~/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="~/vendors/switchery/switchery.min.js"></script>\
    <script src="~/vendors/select2/js/select2.full.min.js"></script>
    <script src="~/vendors/starrr/starrr.js"></script>
    <script src="~/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="~/vendors/google-code-prettify/src/prettify.js"></script>

    <script>
        var addcomment = document.getElementById("btn-add-comment");
        var addcommentform = document.getElementById("add-comment-form");
        var ta = document.getElementById("descr");
        addcomment.onclick = () => {
            localStorage.setItem("projectId", @Model.Id);
            localStorage.setItem("comment", $("textarea#descr").val());
            addcommentform.action = 'Classes/AddComment/' + @Model.Id;
            addcommentform.submit();
        }
    </script>

    <script>
        $(function () {           
            if (msg == 'DocumentAdded') {
                new PNotify({
                    text: 'Thêm tài liệu thành công.',
                    type: 'success',
                    styling: 'bootstrap3',
                });
            }
            if (msg == 'DocumentNotAdded') {
                new PNotify({
                    text: 'Thêm tài liệu thất bại.',
                    type: 'success',
                    styling: 'bootstrap3',
                });
            }
            if (msg == 'NoFileSelected') {
                new PNotify({
                    text: 'Thêm tài liệu thất bại. Không có file nào được chọn.',
                    type: 'error',
                    styling: 'bootstrap3',
                });
            }
            if (msg == 'StudentProductAdded') {
                new PNotify({
                    text: 'Nộp bài thành công.',
                    type: 'success',
                    styling: 'bootstrap3',
                });
            }
            if (msg == 'StudentProductNotAdded') {
                new PNotify({
                    text: 'Nộp bài thất bại.',
                    type: 'error',
                    styling: 'bootstrap3',
                });
            }
        });
    </script>
}