@model ProjectRegistration.Models.Project

@{
    ViewData["Title"] = "Thông tin chi tiết của đồ án";
}
<h1>Thông tin chi tiết của đồ án</h1>

<div>
    <h4>@Model.Pname</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Info)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Info)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pyear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pyear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Semester)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Semester)
        </dd>*@
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Class.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClassId2Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassId2Navigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.Id)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GradingLecturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GradingLecturer.Fullname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuidingLecturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuidingLecturer.Fullname)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditProject" asp-route-id="@Model?.Id">Sửa</a> |
    <a asp-action="ViewProjectList" asp-route-id="@Model?.ClassId">Quay lại danh sách đồ án</a>
</div>

<div>
    <a asp-action="AddMemberToProject" asp-route-id="@Model?.Id">Thêm sinh viên vào đồ án</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                MSSV
            </th>
            <th>
                Tên
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProjectMembers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Student.UserId)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Student.Fullname)
                </td>
                <td>
                    <button type="button" class="btn btn-link border-0" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-id="@item.Id">
                        Xoá
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" style="z-index:1060">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Xóa sinh viên khỏi đồ án</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc muốn xoá?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="delete-btn">Xóa</button>
            </div>
        </div>
    </div>
</div>
<form method="post" id="delete-form"></form>

@section Scripts {
    <script>
        $(function () {
            var msg = '@TempData["message"]';
            if (msg == 'RegNotOpened') {
                alert("Thêm thành viên vào đồ án thất bại%0D%0AChưa đến thời gian đăng ký");
            }
            if (msg == 'RegClosed') {
                alert("Thêm thành viên vào đồ án thất bại%0D%0AĐã hết thời gian đăng ký");
            }
            if (msg == 'MemberAddedToProject') {
                alert("Thêm thành viên vào đồ án thành công");
            }
            if (msg == 'MemberNotAddedToProject') {
                alert("Thêm thành viên vào đồ án thất bại");
            }
            if (msg == 'NoMemberToDeleteFromProject') {
                alert("Xóa thành viên khỏi đồ án thất bại%0D%0AKhông tìm thấy thành viên trong đồ án");
            }
            if (msg == 'MemberDeletedFromProject') {
                alert("Xóa thành viên khỏi đồ án thành công");
            }
        });
    </script>
    
    <script>
        let memberid;
        var modal = document.getElementById("confirmDeleteModal");
        const deleteBtn = document.getElementById('delete-btn');
        const deleteForm = document.getElementById('delete-form');
        modal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;
            console.log(button);
            memberid = button.getAttribute('data-id');
            
        });
        
        console.log("MemberID: " + memberid);
        deleteBtn.onclick = () => {
            console.log("MemberID: " + memberid);
            deleteForm.action = '/Classes/DeleteMemberFromProject/' + memberid;
            deleteForm.submit();
        }
    </script>
    @*<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="/js/data-table.js"></script>*@
}