@using static ProjectRegistration.Controllers.HomeController;
@{
    ViewData["Title"] = "Trang chủ";
}

<div class="text-center">
    <div class="col-md-3 col-sm-3  tile">
        <span>Tổng số đồ án đã được đăng ký</span>
        <h2>@ViewData["ProjectRegisteredNumber"]</h2>
    </div>
    <div class="col-md-3 col-sm-3  tile">
        <span>Tổng số đồ án đang được thực hiện</span>
        <h2>@ViewData["ProjectOnGoingNumber"]</h2>
    </div>
    <div class="col-md-3 col-sm-3  tile">
        <span>Tổng số đồ án đã hoàn thành</span>
        <h2>@ViewData["ProjectFinishedNumber"]</h2>
    </div>
    <div class="col-md-5 col-sm-6">
        <div class="x_panel tile fixed_height_320">
            <div class="x_title">
                <h2>Tỉ lệ hoàn thành đồ án</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="" style="width:100%">
                    <tr>
                        <th>
                            Học kì @ViewBag.CurrentSemester <br />
                            Năm học @ViewBag.CurrentYear
                        </th>
                        <th>
                            <div class="col-lg-8 col-md-8 col-sm-8 ">
                                <p class="">Trạng thái</p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 ">
                                <p class="">Tỉ lệ</p>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <td style="width:fit-content">
                            <canvas id="myChart" style="max-height:150px; max-width:150px" width="100" height="100"></canvas>
                        </td>
                        <td>
                            <table class="tile_info">
                                <tr>
                                    <td>
                                        <p><i class="fa fa-square blue"></i>Hoàn thành </p>
                                    </td>
                                    <td style="vertical-align:central" id="completedPercent"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><i class="fa fa-square green"></i>Đang tiến hành </p>
                                    </td>
                                    <td id="doingPercent"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
    <div class="col-md-5 col-sm-6">
        <div class="x_panel tile fixed_height_320">
            <div class="x_title">
                <h2>Điểm đồ án 1</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="" style="width:100%">
                    <tr>
                        <th>
                            Học kì @ViewBag.CurrentSemester <br />
                            Năm học @ViewBag.CurrentYear
                        </th>
                        <th>
                            <div class="col-lg-8 col-md-8 col-sm-8 ">
                                <p class="">Loại điểm</p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 ">
                                <p class="">Tỉ lệ</p>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <td style="width:fit-content">
                            <canvas id="myPie1" style="max-height:150px; max-width:150px" width="100" height="100"></canvas>
                        </td>
                        <td>
                            <table class="tile_info">
                                <tr>
                                    <td>
                                        <p><i class="fa fa-square blue"></i>9-10 </p>
                                    </td>
                                    <td> @ViewData["SE121_A"] </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><i class="fa fa-square red"></i>7-8 </p>
                                    </td>
                                    <td>@ViewData["SE121_B"]</td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><i class="fa fa-square purple"></i>5-6 </p>
                                    </td>
                                    <td>@ViewData["SE121_C"]</td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><i class="fa fa-square aero"></i> &lt5 </p>
                                    </td>
                                    <td>@ViewData["SE121_D"]</td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><i class="fa fa-square green"></i>0 </p>
                                    </td>
                                    <td>@ViewData["SE121_E"]</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
    <div class="col-md-5 col-sm-6">
        <div class="x_panel tile fixed_height_320">
            <div class="x_title">
                <h2>Điểm đồ án 2</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="" style="width:100%">
                    <tr>
                        <th>
                            Học kì @ViewBag.CurrentSemester <br />
                            Năm học @ViewBag.CurrentYear
                        </th>
                        <th>
                            <div class="col-lg-8 col-md-8 col-sm-8 ">
                                <p class="">Loại điểm</p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 ">
                                <p class="">Tỉ lệ</p>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <td style="width:fit-content">
                            <canvas id="myPie2" style="max-height:150px; max-width:150px" width="100" height="100"></canvas>
                        </td>
                        <td>
                            <table class="tile_info">
                                <tr>
                                    <td>
                                        <p><i class="fa fa-square blue"></i>9-10 </p>
                                    </td>
                                    <td>@ViewData["SE122_A"]</td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><i class="fa fa-square red"></i>7-8 </p>
                                    </td>
                                    <td>@ViewData["SE122_B"]</td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><i class="fa fa-square purple"></i>5-6 </p>
                                    </td>
                                    <td>@ViewData["SE122_C"]</td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><i class="fa fa-square aero"></i> &lt5 </p>
                                    </td>
                                    <td>@ViewData["SE122_D"]</td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><i class="fa fa-square green"></i>0 </p>
                                    </td>
                                    <td>@ViewData["SE122_E"]</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
    <div class="col-md-5 col-sm-6">
        <div class="x_panel tile fixed_height_320">
            <div class="x_title">
                <h2>Điểm khóa luận tốt nghiệp</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="" style="width:100%">
                    <tr>
                        <th>
                            Học kì @ViewBag.CurrentSemester <br />
                            Năm học @ViewBag.CurrentYear
                        </th>
                        <th>
                            <div class="col-lg-8 col-md-8 col-sm-8 ">
                                <p class="">Loại điểm</p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 ">
                                <p class="">Tỉ lệ</p>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <td style="width:fit-content">
                            <canvas id="myPie3" style="max-height:150px; max-width:150px" width="100" height="100"></canvas>
                        </td>
                        <td>
                            <table class="tile_info">
                                <tr>
                                    <td>
                                        <p><i class="fa fa-square blue"></i>9-10 </p>
                                    </td>
                                    <td>@ViewData["KLTN_A"]</td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><i class="fa fa-square red"></i>7-8 </p>
                                    </td>
                                    <td>@ViewData["KLTN_B"]</td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><i class="fa fa-square purple"></i>5-6 </p>
                                    </td>
                                    <td>@ViewData["KLTN_C"]</td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><i class="fa fa-square aero"></i> &lt5 </p>
                                    </td>
                                    <td>@ViewData["KLTN_D"]</td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><i class="fa fa-square green"></i>0 </p>
                                    </td>
                                    <td>@ViewData["KLTN_E"]</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12">
        <div class="x_panel tile">
            <div class="x_title">
                <h2>Điểm trung bình đồ án 1</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <canvas id="myChart1"></canvas>

            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12">
        <div class="x_panel tile">
            <div class="x_title">
                <h2>Điểm trung bình đồ án 2</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <canvas id="myChart2"></canvas>

            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12">
        <div class="x_panel tile">
            <div class="x_title">
                <h2>Điểm trung bình khóa luận tốt nghiệp</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <canvas id="myChart3"></canvas>

            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/vendors/chart.js/dist/chart.js"></script>
    <script src="~/vendors/morris.js/morris.min.js"></script>
    <script src="~/vendors/raphael/raphael.min.js"></script>
    <script src="~/vendors/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <script src="~/vendors/gauge.js/dist/gauge.min.js"></script>
    <script src="~/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="~/vendors/skycons/skycons.js"></script>
    <script src="~/vendors/datejs/build/date.js"></script>
    <script>
        var ctx = document.getElementById("myChart");
        var finishedPercent = '@ViewData["ProjectFinishedNumber"]' / '@ViewData["ProjectRegisteredNumber"]' * 100;
        var ongoingPercent = '@ViewData["ProjectOnGoingNumber"]' / '@ViewData["ProjectRegisteredNumber"]' * 100;
        document.getElementById('completedPercent').innerHTML = finishedPercent.toFixed(2) + "%";
        document.getElementById('doingPercent').innerHTML = ongoingPercent.toFixed(2) + "%";
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ["Đang tiến hành", "Đã hoàn thành"],
                datasets: [{
                    data: [(finishedPercent).toFixed(2), (ongoingPercent).toFixed(2)],
                    backgroundColor: [
                        '#1ABB9C',
                        '#3498DB',
                    ],
                }]
            },
            options: {
                responsive: true,
                legend: {
                    display: false
                },
            }
        });
    </script>

    <script defer>
        window.onload = function () {
            var ctx1 = document.getElementById("myChart1");
            var myChart1 = new Chart(ctx1, {
                type: 'line',
                data: {
                    labels: ["Điểm", '@ViewData["Semester_and_Year_3"]', '@ViewData["Semester_and_Year_2"]', '@ViewData["Semester_and_Year_1"]', '@ViewData["Semester_and_Year_0"]'],
                    datasets: [{
                        label: 'Điểm',
                        data: ['@ViewData["SE121_AVG_0"]', '@ViewData["SE121_AVG_1"]', '@ViewData["SE121_AVG_2"]', '@ViewData["SE121_AVG_3"]', '@ViewData["SE121_AVG_4"]'],
                        borderColor: "#dc3545"
                    }],
                },
                options: {
                    scales: {
                        yAxes: [{
                            display: true,
                            ticks: {
                                suggestedMin: 0,
                                suggestedMax: 10,
                            }
                        }]
                    },
                    responsive: true,
                    legend: {
                        display: false
                    },
                },

            });

            var ctx2 = document.getElementById("myChart2");
            var myChart2 = new Chart(ctx2, {
                type: 'line',
                data: {
                    labels: ["Điểm", '@ViewData["Semester_and_Year_3"]', '@ViewData["Semester_and_Year_2"]', '@ViewData["Semester_and_Year_1"]', '@ViewData["Semester_and_Year_0"]'],
                    datasets: [{
                        label: 'Điểm',
                        data: ['@ViewData["SE122_AVG_0"]', '@ViewData["SE122_AVG_1"]', '@ViewData["SE122_AVG_2"]', '@ViewData["SE122_AVG_3"]', '@ViewData["SE122_AVG_4"]'],
                        borderColor: "#198754"
                    }],
                },
                options: {
                    scales: {
                        yAxes: [{
                            display: true,
                            ticks: {
                                suggestedMin: 0,
                                suggestedMax: 10,
                            }
                        }]
                    },
                    responsive: true,
                    legend: {
                        display: false
                    },
                },

            });

            var ctx3 = document.getElementById("myChart3");
            var myChart3 = new Chart(ctx3, {
                type: 'line',
                data: {
                    labels: ["Điểm", '@ViewData["Semester_and_Year_3"]', '@ViewData["Semester_and_Year_2"]', '@ViewData["Semester_and_Year_1"]', '@ViewData["Semester_and_Year_0"]'],
                    datasets: [{
                        label: 'Điểm',
                        data: ['@ViewData["KLTN_AVG_0"]', '@ViewData["KLTN_AVG_1"]', '@ViewData["KLTN_AVG_2"]', '@ViewData["KLTN_AVG_3"]', '@ViewData["KLTN_AVG_4"]'],
                        borderColor: "#6f42c1"
                    }],
                },
                options: {
                    scales: {
                        yAxes: [{
                            display: true,
                            ticks: {
                                suggestedMin: 0,
                                suggestedMax: 10,
                            }
                        }]
                    },
                    responsive: true,
                    legend: {
                        display: false
                    },
                },

            });


            var pie1 = document.getElementById("myPie1");
            if ('@ViewData["SE121_Total"]' == -1) {
                console.log(@ViewData["SE121_Total"]);
                var myPie1 = new Chart(pie1, {
                    type: 'doughnut',
                    data: {
                        labels: ["chưa có"],
                        datasets: [{
                            data: [1],
                            backgroundColor: [
                                '#6c757d',
                            ],
                        }]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            display: false
                        },
                    }
                });
            }
            else {
                var myPie1 = new Chart(pie1, {
                    type: 'doughnut',
                    data: {
                        labels: ["9-10", "7-8", "5-6", "<5", "0"],
                        datasets: [{
                            data: ['@ViewData["SE121_A"]',
                                '@ViewData["SE121_B"]',
                                '@ViewData["SE121_C"]',
                                '@ViewData["SE121_D"]',
                                '@ViewData["SE121_E"]'],
                            backgroundColor: [
                                '#dc3545',
                                '#0d6efd',
                                '#6f42c1',
                                '#7cb9e8',
                                '#198754',
                            ],
                        }]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            display: false
                        },
                    }
                });
            }

            var pie2 = document.getElementById("myPie2");
            console.log('@ViewData["SE122_Total"]')
            if ('@ViewData["SE122_Total"]' == -1) {
                console.log('@ViewData["SE122_Total"]')
                var myPie2 = new Chart(pie2, {
                    type: 'doughnut',
                    data: {
                        labels: ["chưa có"],
                        datasets: [{
                            data: [1],
                            backgroundColor: [
                                '#6c757d',
                            ],
                        }]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            display: false
                        },
                    }
                });
            }
            else {
                var myPie2 = new Chart(pie2, {
                    type: 'doughnut',
                    data: {
                        labels: ["9-10", "7-8", "5-6", "<5", "0"],
                        datasets: [{
                            data: ['@ViewData["SE122_A"]',
                                '@ViewData["SE122_B"]',
                                '@ViewData["SE122_C"]',
                                '@ViewData["SE122_D"]',
                                '@ViewData["SE122_E"]'],
                            backgroundColor: [
                                '#dc3545',
                                '#0d6efd',
                                '#6f42c1',
                                '#7cb9e8',
                                '#198754',
                            ],
                        }]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            display: false
                        },
                    }
                });
            }


            var pie3 = document.getElementById("myPie3");
            if ('@ViewData["KLTN_Total"]' == -1) {
                var myPie3 = new Chart(pie3, {
                    type: 'doughnut',
                    data: {
                        labels: ["chưa có"],
                        datasets: [{
                            data: [1],
                            backgroundColor: [
                                '#6c757d',
                            ],
                        }]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            display: false
                        },
                    }
                });
            }
            else {
                var myPie3 = new Chart(pie3, {
                    type: 'doughnut',
                    data: {
                        labels: ["9-10", "7-8", "5-6", "<5", "0"],
                        datasets: [{
                            data: ['@ViewData["KLTN_A"]',
                                '@ViewData["KLTN_B"]',
                                '@ViewData["KLTN_C"]',
                                '@ViewData["KLTN_D"]',
                                '@ViewData["KLTN_E"]'],
                            backgroundColor: [
                                '#dc3545',
                                '#0d6efd',
                                '#6f42c1',
                                '#7cb9e8',
                                '#198754',
                            ],
                        }]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            display: false
                        },
                    }
                });
            }
        }
    </script>
}