@model IEnumerable<ProjectRegistration.Models.Department>

@{
    ViewData["Title"] = "Danh sách khoa";
}

<link href="~/vendors/icheck/skins/flat/green.css" rel="stylesheet" />

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Danh sách khoa</h3>
        </div>

    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Danh sách các khoa của trường</h2>

                    <ul class="nav navbar-right panel_toolbox" style="min-width:fit-content">
                        <a class="btn btn-success btn-round" style="margin-right:20px" asp-action="Create">
                            <span class="glyphicon glyphicon-plus" style="color:white" aria-hidden="true"></span>
                            Thêm mới
                        </a>
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <table class="table jambo_table table-hover table-bordered">
                        <thead style="font-size:large">
                            <tr>
                                <th style="text-align: center;">#</th>
                                <th>@Html.DisplayNameFor(model => model.Dname)</th>
                                <th>@Html.DisplayNameFor(model => model.Info)</th>
                                <th class="last"></th>
                            </tr>
                        </thead>
                        <tbody style="font-size:medium">
                            @{
                                var count = 0;
                                foreach (var item in Model)
                                {
                                    <tr>
                                        @{
                                            count++;
                                        }
                                        <td style="text-align: center; vertical-align: middle; width:5%" scope="row">@Html.DisplayFor(modelItem => count) </td>
                                        <td style="vertical-align: middle;" scope="row">@Html.DisplayFor(modelItem => item.Dname)</td>
                                        <td style="vertical-align: middle;" scope="row">@Html.DisplayFor(modelItem => item.Info)</td>
                                        <td style="vertical-align: middle;  white-space: nowrap; width:1%" scope="rowgroup">
                                            <a class="btn btn-primary btn-xs" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil"></i> Sửa</a>
                                            @*<a class="btn btn-primary btn-xs" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-folder"></i> Chi tiết</a>*@
                                            <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target=".deleteModal" data-id="@item.Id">
                                                <i class="fa fa-trash-o"></i> Xoá
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Delete Confirmation Modal -->
<form method="post" action="" id="delete-form"></form>
<div class="modal fade deleteModal" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Xác nhận xóa?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Bạn có chắc chắn muốn xóa khoa này</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-danger" id="delete-btn">Xóa</button>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            var msg = '@TempData["message"]';
            if (msg == 'DepartmentCreated') {
                new PNotify({
                    text: 'Thêm khoa thành công.',
                    type: 'success',
                    styling: 'bootstrap3',
                });
            }
            if (msg == 'DepartmentNotCreated') {
                new PNotify({
                    text: 'Thêm khoa thất bại.',
                    type: 'error',
                    styling: 'bootstrap3',
                });
            }
            if (msg == 'DepartmentEdited') {
                new PNotify({
                    text: 'Sửa khoa thành công.',
                    type: 'success',
                    styling: 'bootstrap3',
                });
            }
            if (msg == 'DepartmentNotEdited') {
                new PNotify({
                    text: 'Sửa khoa thất bại.',
                    type: 'error',
                    styling: 'bootstrap3',
                });
            }
            if (msg == 'NoDepartmentToEdit') {
                new PNotify({
                    text: 'Sửa khoa thất bại%0D%0AKhông tìm thấy khoa.',
                    type: 'error',
                    styling: 'bootstrap3',
                });
            }
            if (msg == 'DepartmentDeleted') {
                new PNotify({
                    text: 'Xóa khoa thành công.',
                    type: 'success',
                    styling: 'bootstrap3',
                });
            }
            if (msg == 'DepartmentNotDeleted') {
                new PNotify({
                    text: 'Xóa khoa thất bại%0D%0AKhông tìm thấy khoa.',
                    type: 'error',
                    styling: 'bootstrap3',
                });
            }
        });
    </script>
    
    <script>
        let id;
        var modal = document.getElementById("deleteModal");
        const deleteBtn = document.getElementById('delete-btn');
        const deleteForm = document.getElementById('delete-form');
        $(document).on('show.bs.modal', modal, function (event) {
            const button = event.relatedTarget;
            id = button.getAttribute('data-id');
        })

        deleteBtn.onclick = () => {
            deleteForm.action = 'Departments/Delete/' + id;
            deleteForm.submit();
        }
    </script> 
}