@model ProjectRegistration.Models.Class

@{
    ViewData["Title"] = "Thông tin chi tiết của lớp học";
}
<h1>Thông tin chi tiết của lớp học</h1>

<input type="hidden" id="ClassIdHere" value=@Model.Id asp-for="Id" />
<div>
    <h4>@Model.Course.CourseName</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.CourseId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClassId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Semester)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Semester)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cyear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cyear)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedDateTime)
        </dd>*@        
    </dl>
</div>

<form method="post" asp-action="ViewProjectList" asp-route-id="@Model.Id">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addUserModal">
        + Thêm bằng MSSV
    </button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addFromExcelModal">
        + Thêm bằng file excel
    </button>
    <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#viewProjectList">
        Xem danh sách đồ án
    </button>
</form>


<form method="post" enctype="multipart/form-data" name="add-file-form" id="add-file-form" asp-asp-controller="Users" asp-action="AddUserFromFileExcel">
    <!-- Modal -->
    <input type="hidden" asp-for="Id" />
    <div class="modal fade" id="addFromExcelModal" tabindex="-1" style="z-index:1060">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Thêm tài khoản</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h2>Chọn file excel</h2>
                    <input id="fileSelect" name="fileSelect" type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" value=model.Id class="btn btn-primary" id="add-file-btn">Thêm</button>
                </div>
            </div>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                MSSV
            </th>
            <th>
                Tên
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ClassDetails)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.User.UserId)           
                </td>                
                <td>
                    @Html.DisplayFor(model => item.User.Fullname)
                </td>
                <td>
                    <button type="button" class="btn btn-link border-0" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-id="@item.User.Id">
                        Xoá
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" style="z-index:1060">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Xóa tài khoản</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc muốn xoá?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="delete-btn">Xóa</button>
            </div>
        </div>
    </div>
</div>
<form method="post" id="delete-form"></form>

<!-- Add Modal -->
<div class="modal fade" id="addUserModal" tabindex="-1" style="z-index:1060">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Thêm sinh viên vào lớp</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Nhập MSSV
            </div>
            <input type="text" id="userIdText" class="m-3"/>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="add-btn">Thêm</button>
            </div>
        </div>
    </div>
</div>
<form method="post" id="add-form"></form>

@section Scripts {
    <script>
        let id;
        let classId = document.getElementById("ClassIdHere");
        var modal = document.getElementById("confirmDeleteModal");
        const deleteBtn = document.getElementById('delete-btn');
        const deleteForm = document.getElementById('delete-form');
        modal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;
            id = button.getAttribute('data-id');
        });
        deleteBtn.onclick = () => {
            deleteForm.action = '@Url.Content("~/Classes/DeleteUser/")' + id + '-' + classId.value;
            deleteForm.submit();
        }
    </script>

    <script>
        let userId = document.getElementById("userIdText");
        const addBtn = document.getElementById('add-btn');
        const addForm = document.getElementById('add-form');
        
        addBtn.onclick = () => {
            console.log("here!");
            addForm.action = '@Url.Content("~/Classes/AddUser/")' + userId.value + '-' + classId.value;
            addForm.submit();
        }
    </script>
}