@model IEnumerable<ProjectRegistration.Models.Project>

@{
    ViewData["Title"] = "ProjectList";
}

<h1>ProjectList</h1>

<p>
    <a asp-action="CreateProject" asp-route-id="@ViewData["id"]">Create New Project</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Info)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Pyear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.CreatedDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedDateTime)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Class)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.ClassId2Navigation)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.Department)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.GradingLecturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GuidingLecturer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Info)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Pyear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedDateTime)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Class.Id)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.ClassId2Navigation.Id)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.Department.Id)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.GradingLecturer.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuidingLecturer.Id)
            </td>
            @*<td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>