@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjectRegistration</title>
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjectRegistration.styles.css" asp-append-version="true" />
    <link href="~/vendors/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/vendors/nprogress/nprogress.css" rel="stylesheet" />
    <link href="~/vendors/pnotify/pnotify.buttons.css" rel="stylesheet" />
    <link href="~/vendors/pnotify/pnotify.nonblock.css" rel="stylesheet" />
    <link href="~/vendors/pnotify/pnotify.css" rel="stylesheet" />

    <link href="~/css/custom.min.css" rel="stylesheet" />
</head>
<body class="nav-md mb-0">
    @{
        var user = await UserManager.GetUserAsync(User);
        ViewData["Avatar"] = "../../files/" + user.ImagePath;

    }
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col" id="left_nav">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="" class="site_title"><i class="fa fa-graduation-cap"></i> <span>PJ Registration</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="@ViewData["Avatar"]" alt="avt" class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Xin chào,</span>
                            <h2>@User.Identity?.Name</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-home"></i> Trang chủ <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                                        <li><a asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Departments" asp-action="Index"><i class="fa fa-group"></i> Khoa</a>
                                </li>
                                <li>
                                    <a><i class="fa fa-user"></i> Tài khoản <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-controller="Users" asp-action="LecturerList">Giảng viên</a></li>
                                        <li><a asp-controller="Users" asp-action="StudentList">Sinh viên</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a asp-controller="Courses" asp-action="Index"><i class="fa fa-book"></i> Môn học</a>
                                </li>
                                <li>
                                    <a><i class="fa fa-pencil-square"></i> Lớp học <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-controller="Classes" asp-action="Index">Đồ án 1</a></li>
                                        <li><a asp-controller="Classes" asp-action="Index">Đồ án 2</a></li>
                                        <li><a asp-controller="Classes" asp-action="Index">Khóa luận tốt nghiệp</a></li>
                                        <li><a asp-controller="Classes" asp-action="Index">Tất cả</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->

                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Cài đặt">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" onclick="changeScreen(document.body)" title="Toàn màn hình">
                            <span class="glyphicon glyphicon-fullscreen" id="fullscreenBtn" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Khóa" onclick="lockNavbar()">
                            <span class="glyphicon glyphicon-eye-close" id="lockBtn" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Đăng xuất" style="color:#0077cc" onclick="LogOut()">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu ">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle pb-2" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    <img src="@ViewData["Avatar"]" alt="">@User.Identity?.Name
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="javascript:;"> Hồ sơ</a>
                                    <a class="dropdown-item" style="color:#0077cc" onclick="LogOut()"><i class="fa fa-sign-out pull-right"></i> Đăng xuất</a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <main role="main" class="right_col">
                @RenderBody()
            </main>
            <!-- /page content -->
            <!-- footer content -->
            <footer class="footer_fixed">
                <div class="pull-right">
                    2023 - Project Registration - Made by Nguyen Duy Hao and Chau Vinh Sinh
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->

        </div>
    </div>


    <form id="logoutForm" method="post" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
    </form>

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/vendors/nprogress/nprogress.js"></script>
    <script src="~/vendors/jquery/jquery.min.js"></script>
    <script src="~/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendors/icheck/icheck.min.js"></script>
    <script src="~/js/custom.min.js"></script>
    <script src="~/vendors/pnotify/pnotify.js"></script>
    <script src="~/vendors/pnotify/pnotify.nonblock.js"></script>
    <script src="~/vendors/pnotify/pnotify.buttons.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("Styles", required: false)
</body>
</html>
<section>
    <script>
        const form = document.getElementById('logoutForm');
        function LogOut() {
            form.submit();
        }
    </script>
    <script>
        function hasClass(elem, className) {
            return new RegExp(' ' + className + ' ').test(' ' + elem.className + ' ');
        }

        function addClass(elem, className) {
            if (!hasClass(elem, className)) {
                elem.className += ' ' + className;
            }
        }


        function removeClass(elem, className) {
            var newClass = ' ' + elem.className.replace(/[\t\r\n]/g, ' ') + ' ';
            if (hasClass(elem, className)) {
                while (newClass.indexOf(' ' + className + ' ') >= 0) {
                    newClass = newClass.replace(' ' + className + ' ', ' ');
                }
                elem.className = newClass.replace(/^\s+|\s+$/g, '');
            }
        }
    </script>
    <script>
        var fullScreen = false;

        function changeScreen(elem) {
            if (fullScreen) {
                closeFullscreen();
                fullScreen = false;
                document.getElementById("fullscreenBtn").style.color = "";
            }
            else {
                openFullscreen(elem);
                fullScreen = true;
                document.getElementById("fullscreenBtn").style.color = "#0077cc";
            }
        }

        function openFullscreen(elem) {

            if (elem.requestFullscreen) {
                elem.requestFullscreen();
            } else if (elem.webkitRequestFullscreen) { /* Safari */
                elem.webkitRequestFullscreen();
            } else if (elem.msRequestFullscreen) { /* IE11 */
                elem.msRequestFullscreen();
            }
        }

        function closeFullscreen() {
            if (document.exitFullscreen) {
                document.exitFullscreen();
            } else if (document.webkitExitFullscreen) { /* Safari */
                document.webkitExitFullscreen();
            } else if (document.msExitFullscreen) { /* IE11 */
                document.msExitFullscreen();
            }
        }

    </script>
    <script defer>
        if (localStorage.getItem('lockNav') == 'true') {
            addClass(left_nav, "menu_fixed");
            document.getElementById("lockBtn").style.color = "#0077cc";
        }
        else {
            removeClass(left_nav, "menu_fixed");
            document.getElementById("lockBtn").style.color = "";
        }
        function lockNavbar() {
            let left_nav = document.getElementById("left_nav");

            if (localStorage.getItem('lockNav') == 'false') {
                addClass(left_nav, "menu_fixed");
                document.getElementById("lockBtn").style.color = "#0077cc";
                localStorage.setItem('lockNav', 'true');
            }
            else {
                removeClass(left_nav, "menu_fixed");
                document.getElementById("lockBtn").style.color = "";
                localStorage.setItem('lockNav', 'false');
            }
        }
    </script>
</section>