@model ProjectRegistration.Models.Department

@{
    ViewData["Title"] = "Thông tin chi tiết của khoa";
}
<h1>Thông tin chi tiết của khoa</h1>

<div>
    <h4>@Model.Info</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Info)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Info)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDateTime)
        </dd>*@
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deleted)
        </dd>*@
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedDateTime)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Sửa</a> |
    <a asp-action="Index">Quay lại</a>
</div>
